{% extends 'rango/base.html' %}
{% load staticfiles %}


{% block title_block %}
  About Rango
{% endblock %}
{% block body_block %}
  <h1>About Rango</h1>
  <div>
    <p>visits: {{ visits }}</p>
    <img src="{% static "images/dog.jpg" %}" alt="Picture of a dog" />
  </div>
  <div>
    This tutorial has been put together by Catherine Daly<br />
    <strong>{{ testmessage }}</strong><br />
  </div>
  <div>
    <a href="/rango/">Index</a><br />
    <img src="{{MEDIA_URL}}cat.jpg">
  </div>
{% endblock %}
