<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
        <title>About Rango</title>
    </head>

    <body>
        <h1>About Rango</h1>
        <div>
            <img src="{% static "images/dog.jpg" %}" alt="Picture of a dog" />
        </div>
        <div>
            This tutorial has been put together by Catherine Daly<br />
            <strong>{{ testmessage }}</strong><br />
        </div>
        <div>
            <a href="/rango/">Index</a><br />
            <img src="{{MEDIA_URL}}cat.jpg">


        </div>
    </body>

</html>
